//colors
:root {
  --color-primary: #ffffff;
  --color-primary-opacity: rgba(255,255,255, 0.75);
  --color-search-input-bg: #f4f4f5;
  --color-chat-input-bg: #ffffff;
  --color-chat-bg: #f4f4f5;
  --color-chat-hover: #f4f4f5;
  --color-chat-selected: #3390ec;
  --color-chat-selected-font: #ffffff;
  --color-primary-font: #000000;
  --color-secondary-font: #707579;
  --color-icon-primary: #808488;
  --color-icon-secondary: #3390ec;
  --color-out-boubble: #eeffde;
  --color-out-font: #000000;
  --color-in-boubble: #3d3c3c;
  --color-in-font: #000000;
  --color-link: #3390ec;
  --color-badge: #C4C9CCFF;

  //--color-primary-opacity: rgba(80,162,233,0.25098);
  //--color-primary-opacity-hover: rgba(80,162,233,0.14902);
  //--color-background-compact-menu: rgba(255,255,255,0.733333);
  //--color-background-compact-menu-reactions: rgba(255,255,255,0.921569);
  --color-background-compact-menu-hover: rgba(0,0,0,0.0666667);
}

.light-theme {
  --color-primary: #ffffff;
  --color-primary-opacity: rgba(255,255,255, 0.75);
  --color-search-input-bg: #f4f4f5;
  --color-chat-input-bg: #ffffff;
  --color-chat-bg: #f4f4f5;
  --color-chat-hover: #f4f4f5;
  --color-chat-selected: #3390ec;
  --color-chat-selected-font: #ffffff;
  --color-primary-font: #000000;
  --color-secondary-font: #707579;
  --color-icon-primary: #808488;
  --color-icon-secondary: #3390ec;
  --color-out-boubble: #eeffde;
  --color-out-font: #000000;
  --color-in-boubble: #3d3c3c;
  --color-in-font: #000000;
  --color-link: #3390ec;
  --color-badge: #C4C9CCFF;
}

.dark-theme {
  --color-primary: #282828;
  --color-primary-opacity: rgba(50,50,50);
  --color-search-input-bg: #363838;
  --color-chat-input-bg: #3d3c3c;
  --color-chat-bg: #2e2e2e;
  --color-chat-hover: #464746;
  --color-chat-selected: #83a598;
  --color-chat-selected-font: #392828;
  --color-primary-font: #ebdbb2;
  --color-secondary-font: #928374;
  --color-icon-primary: #928374;
  --color-icon-secondary: #928374;
  --color-out-boubble: #464746;
  --color-out-font: #efefef;
  --color-in-boubble: #3d3c3c;
  --color-in-font: #adadad;
  --color-link: #83a598;
  --color-badge: #999999;
}