@import 'src/app/index';

.settings {
  $this: &;

  display: flex;
  flex-direction: column;
  padding: 5px 5px;
  height: 100%;
  row-gap: 5px;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    font-size: 18px;
    color: var(--color-primary-font);
  }

  &__button {
    border-radius: 50%;
    width: 45px;
    height: 45px;
    background-color: transparent;
    padding: 6px;
    border: none;

    svg {
      vertical-align: bottom;
      stroke: var(--color-icon-primary);
      height: 28px;
      width: 28px;
    }

    &--back {
    }

    &--edit {

    }
  }

  &__content {
  }

  &__image-wrapper {
    width: 100%;
    height: 400px;
    position: relative;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__info-bar {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 5px;
    color: var(--color-primary-font);
    background-color: rgba(255, 255, 255, .3);
  }

  &__status {
    font-size: 14px;
  }

}

@include respond-to('desktop') {
  .settings {
    &__button {
      &:hover {
        background-color: var(--color-chat-hover);
      }
    }
  }
}
