@import "src/app/index.scss";

.emoji {
  $this: &;
  position: relative;

  &__picker {
    position: absolute;
    top: -475px;
    left: -15px;
    z-index: 10;
    visibility: hidden;
  }
  &__btn {
    @include chat-input-btn;
  }

  &--isPressed {
    svg {
      fill: var(--color-primary);
    }
    #{$this}__picker {
      visibility: visible;
    }
  }
}