@import 'src/app/index.scss';

.left-sidebar {
  &__header {
    display: flex;
    align-items: center;
    -webkit-box-shadow: 0px 21px 46px -30px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 21px 46px -30px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 21px 46px -30px rgba(0, 0, 0, 0.35);
  }

  &__content {
    height: 100%;

  }

  &__footer {
    grid-column: 2/3;
  }
}

.modal {
  align-items: center;
  justify-content: center;
}

//@include respond-to(tablet) {
//  .modal {
//    align-items: center;
//    justify-content: center;
//  }
//}
