@import './index';

.app {
  width: 100%;
}

.container {
  display: grid;
  max-width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.left-panel {
  background-color: #009FBD;
  grid-column: 1 ;
}

.main {
  @include element-position($position: fixed, $left: 100%);
  background-color: #8F43EE;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-out;

  &--active {
    transform: translateX(-100%);
  }
}

.right-panel {
  @include element-position($position: fixed, $top: 0, $bottom: 0, $right: 0);
  background-color: #E96479;
  width: 100%;
  transition: transform 0.5s ease-out;
  transform: translateX(100%);

  &--active {
    transform: translateX(0%);
  }
}

@include respond-to("tablet") {
  .container {
    display: grid;
    grid-template-columns: 350px  1fr;
  }

  .main {
    @include element-position($position: static);
    grid-column: 2 / -1;
    width: 100%;

    &--active {
      margin-left: -350px;
      width: calc(100% + 350px);
      transition: all 0.5s ease-in-out;
      transform: none;
    }

    &--active + .left-panel {
      width: 0;
    }

    &--close {
      width: 100%;
      transition: all 0.5s ease-in-out;
    }
  }

  .right-panel {
    background-color: crimson;
    width: 400px;
  }
}

@include respond-to("desktop") {

  .main {
    all: initial;
    background-color: #8F43EE;
  }
}

.main__button {
  padding: 8px;
}
