@import './index';

.app {
  width: 100%;
}

.container {
  display: grid;
  max-width: 100%;
  height: 100vh;
  overflow: hidden;
}

.left-panel {
  width: 100%;
  height: 100vh;
  background-color: #009FBD;
}

.main {
  @include element-position($position: fixed, $left: 100%);
  background-color: #8F43EE;
  width: 100%;
  height: 100vh;
  z-index: 10;
  transition: transform 0.2s ease-out;
  transform: translateX(100%);

  &--active {
    transform: translateX(-100%);
  }
}

.right-panel {
  @include element-position($position: fixed, $top: 0, $bottom: 0, $right: 0);
  background-color: #E96479;
  width: 100%;
  z-index: 11;
  transition: transform 0.2s ease-out;
  transform: translateX(100%);

  &--active {
    transform: translateX(0%);
  }
}

@include respond-to(tablet) {
  .container {
    display: grid;
    grid-template-columns: 350px 1fr auto;
  }

  .left-panel {
    display: block;
    grid-column: 1 / 2;
    height: 100vh;
  }

  .main {
    @include element-position($position: static);
    display: block;
    grid-column: 2 / 3;
    background-color: green;
    height: 100vh;
    width: 100%;
    z-index: 0;
    transition: none;
    transform: none;

    &--active {
      margin-right: 0;
    }
  }

  .right-panel {
    background-color: white;
    grid-column: 3 / 4;
    position: fixed;
    top: 0;
    right: -400px;
    width: 100%;
    transition: all 0.3s ease;

    &--active {
      right: 0;
    }
  }
}

@include respond-to(desktop) {
  .left-panel,
  .right-panel {
    width: 450px;
  }
}

.main__button {
  padding: 8px;
}
