@import 'src/app/index';

.chat-box {
  display: flex;
  flex-direction: column;
  gap: 0.625rem 0;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 0.925rem;

}

@include respond-to(deskotp) {
  padding: 0;
}
