@import 'src/app/index';

.chat-box {
  display: flex;
  flex-direction: column;
  gap: 0.625rem 0;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 0.925rem;

  &--nomessages {
    align-items: center;
    justify-content: center;
  }

  &__placeholder {
    position: relative;
    max-width: 250px;
    min-width: 150px;
    border-radius: 8px;

    text-align: center;
    color: var(--color-primary-font);
    user-select: none;
    padding-bottom: 2rem;

    &-icon {
      position: absolute;
      svg {
        width: 300px;
        height: auto;
        fill: var(--color-secondary-font);
      }
    }
  }

}



@include respond-to(deskotp) {
  padding: 0;
}
