@import 'src/app/index';

.message-box {
  $this: &;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  gap: 0 15px;
  padding: 0 10px;
  position: relative;


  &__container {
    display: flex;
    align-items: center;
    column-gap: 10px;
    width: 100%;
    border-radius: 20px;
    padding: 0 10px;
    margin-bottom: 5px;
    background-color: var(--color-chat-input-bg);
    border: 2px solid transparent;


    &:focus-within {
      border: 2px solid var(--color-chat-selected);
    }
  }

  &__icon {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    align-self: end;
    margin-bottom: 12px;
  }

  &__textarea {
    width: 100%;
    background-color: var(--color-chat-input-bg);
  }

  &__input {
    margin-top: 5px;
    width: 100%;
    max-height: 200px;
    padding: 10px 10px 10px 10px;
    overflow: auto;
    overflow-y: hidden;
    font-size: 16px;
    font-family: Inter, serif;
    border-radius: 20px;
    transition: all 0.3s ease;
    background-color: var(--color-chat-input-bg);
    color: var(--color-primary-font);
    border: none;
    resize: none;

    &:focus {
      outline: none;
    }
  }

}



@include respond-to(tablet) {

}

@include respond-to(desktop) {
  .message-box {
    margin-bottom: 30px;
  }
}