@import "src/app/index";

.message {
  $this: &;
  display: flex;
  flex-direction: row;



  &__inner {
    display: grid;
    grid-template-columns: auto 1fr;
    max-width: 35em;
    column-gap: 10px;
  }

  &__avatar {
    display: none;
  }

  &__body {
    display: grid;
    position: relative;
    grid-template-rows: repeat(2, auto);
    column-gap: 10px;
    background-color: #DEDEDE;
    padding: 10px 10px 3px;
    border-radius: 16px 16px 16px 0;
    z-index: 1;


    &:before {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      left: -7px;
      bottom: 0;
      border-style: solid;
      border-width: 0 0 25px 25px;
      border-color: transparent transparent #DEDEDE transparent;
      z-index: -1;
    }
  }

  &__image {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    max-width: 250px;
    height: auto;
  }

  &__preview {
    width: 100%;
    height: 100%;

  }

  &__text {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    margin: 0;
    font-size: 15px;
  }

  &__info {
    grid-row: 3 / 4;
    display: flex;
    column-gap: 5px;
    justify-self: end;
    font-size: 11px;
    align-items: center;
  }

  &__status {
    display: none;

    &--read {

    }
  }

  &--you {
    transform: scaleX(-1);

    #{$this}__avatar {
      display: none;
    }

    #{$this}__body {
      background-color: #F7DEAD;

      &:before {
        border-color: transparent transparent #F7DEAD transparent;
      }
    }

    #{$this}__image {
      transform: scaleX(-1);
    }

    #{$this}__text, #{$this}__info {
      transform: scaleX(-1);
    }

    #{$this}__info {
      justify-self: start;
    }

    #{$this}__status {
      display: block;

      svg {
        width: 1rem;
        height: 1rem;
      }
    }
  }
}

.message-modal {
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    display: flex;
    width: 100%;
    height: 100%;
  }

  &__close-button {
    svg {
      width: 35px;
      height: 35px;
      stroke: var(--color-out-font);
    }
    &:hover {
      cursor: pointer;
    }
  }

  &__image-container {
    max-width: 100rem;
  }

  &__image {
    width: 100%;
    height: 100%;
  }
}


@include respond-to(tablet) {

}

@include respond-to(desktop) {
  .message__avatar {
    display: block;
    grid-column: 1 /  2;
    border-radius: 50%;
    align-self: end;

    &-img {
      width: 30px;
      height: 30px;
    }
  }
}



