@import 'src/app/index';

.im {
  width: 100%;
  display: grid;
  max-width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.left-sidebar {
  grid-column: 1;
  padding: 4px;
  background-color: var(--color-primary);
}

.main {
  @include element-position($position: fixed, $left: 100%);
  background-color: var(--color-chat-bg);
  width: 100%;
  transition: transform 0.5s ease-out;
  z-index: 1;

  &--active {
    transform: translateX(-100%);
  }

  &__header {
    background-color: var(--color-primary);
  }
}

.right-sidebar {
  @include element-position($position: fixed, $top: 0, $bottom: 0, $right: 0);
  background-color: #E96479;
  width: 100%;
  transition: transform 0.5s ease-out;
  transform: translateX(100%);
  z-index: 2;

  &--active {
    transform: translateX(0%);
  }
}

@include respond-to("tablet") {
  .im {
    display: grid;
    grid-template-columns: 400px  1fr;
  }

  .left-sidebar {
    grid-column: 1 / 2;

  }

  .main {
    @include element-position($position: static);
    grid-column: 2 / -1;
    width: 100%;

    &--active {
      margin-left: -400px;
      width: calc(100% + 400px);
      transition: all 0.5s ease-in-out;
      transform: none;
    }

    &--active + .left-sidebar {
      width: 0;
    }

    &--close {
      width: 100%;
      transition: all 0.5s ease-in-out;
    }
  }

  .right-sidebar {
    background-color: crimson;
    width: 400px;
  }
}

@include respond-to("desktop") {

  .main {
    &--active {
      margin-left: unset;
      width: unset;
    }

    &--close {
      transition: none;
    }
  }
}
