@import "src/app/index";

.dialog {
  $this: &;

  &__link {
    display: block;
    text-decoration: none;
    color: inherit;
  }

  &__container {
    display: grid;
    grid-template-columns: fit-content(100%) 1fr fit-content(100%);
    grid-template-rows: repeat(2, fit-content(100%));
    gap: 10px 15px;
    padding: 8px;
    align-items: center;
  }

  &__avatar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }

  &__name {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    font-size: 16px;
    font-weight: 600;
    color: var(--color-primary-font)
  }

  &__time-date {
    grid-column: 3 / 4;
    font-size: 11px;
    color: var(--color-secondary-font);
  }

  &__last-message {
    grid-column: 2 / 3;
    grid-row: 2 / -1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    color: var(--color-secondary-font);
  }

  &__unread-message {
    grid-column: 3 / 4;
    grid-row: 2 / -1;
    justify-self: end;
    font-size: 12px;
    font-weight: bold;

    color: var(--color-background);
  }

  &--selected {
    background-color: var(--color-chat-selected);
    color: var(--color-chat-selected-font);
    border-radius: 6px;

    #{$this}__last-message, #{$this}__time-date, #{$this}__name  {
      color: var(--color-chat-selected-font);
    }

  }
}

@include respond-to("desktop") {
  .dialog {
    &:hover:not(.dialog--selected) {
      background-color: var(--color-chat-hover);
      border-radius: 6px;
    }

    &--selected:not(:hover) {
      background-color: var(--color-chat-selected);
      border-radius: 6px;
    }
  }
}